.desktop-info{
    color: #666;font-size: 14px;margin: 10px 0;
    p{line-height: 2;}
    .bold{color: #222;}
}

.desktop-sum{
    .header{font-family:'simHei';border:1px solid #ddd;background: #f5f6fa;font-size: 16px;padding: 10px;color: #222;margin-bottom: -1px;}
}
