<div class="desktop-page">
  <h2>PRG自组织员工管理后台</h2>
  <div class="desktop-info">
     <p><label>机构名称：</label><span class="bold">{{adminInfo.kindergarten_name}}</span></p>
     <p><label>用户名称：</label><span class="bold">{{adminInfo.kindergartengm_name}}</span></p>
     <p><label>用户等级：</label><span class="bold">系统管理员</span></p>
  </div>
  <div class="desktop-sum">
     <header class="header">信息统计</header>
     <table>
       <tr><td>创建时间</td><td>{{adminInfo.kindergartengm_add_time}}</td></tr>
       <tr><td>赠送成长值次数</td><td>{{adminInfo.kindergartengm_donor_times}}次</td></tr>
       <tr><td>赠送成长值</td><td>{{adminInfo.kindergartengm_donor_growthvalue}}点</td></tr>
       <tr><td>员工</td><td>{{adminInfo.kindergartengm_total_members}}名</td></tr>
     </table>
  </div>
</div>