<div class="employee-page">

  <div class="topbar-box">
    <a class="btn"> +添加员工</a>
  </div>

  <div class="search-box">
    <label>从当前数据中搜索：</label>
    <input type="text">
    <a class="search-btn">
       <span></span>
    </a>

    <div class="fr">显示
      <select>
        <option>100</option>
        <option>80</option>
        <option>40</option>
      </select> 条
    </div>
  </div>

  <div class="result-box">
    <table>
      <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>微信</th>
        <th>职务</th>
        <th>成长值</th>
        <th>可用</th>
        <th>出勤</th>
        <th>工资</th>
        <th>操作</th>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td><span class="band">班长</span></td>
        <td>1234234</td>
        <td>是</td>
        <td>31</td>
        <td>19999</td>
        <td><a class="btn sm">编辑</a><a class="btn sm red">删除</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td><span class="band">班长</span></td>
        <td>1234234</td>
        <td>是</td>
        <td>31</td>
        <td>19999</td>
        <td><a class="btn sm">编辑</a><a class="btn sm red">删除</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td><span class="band">班长</span></td>
        <td>1234234</td>
        <td>是</td>
        <td>31</td>
        <td>19999</td>
        <td><a class="btn sm">编辑</a><a class="btn sm red">删除</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td><span class="band">班长</span></td>
        <td>1234234</td>
        <td>是</td>
        <td>31</td>
        <td>19999</td>
        <td><a class="btn sm">编辑</a><a class="btn sm red">删除</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td><span class="band">班长</span></td>
        <td>1234234</td>
        <td>是</td>
        <td>31</td>
        <td>19999</td>
        <td><a class="btn sm">编辑</a><a class="btn sm red">删除</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td><span class="band">班长</span></td>
        <td>1234234</td>
        <td>是</td>
        <td>31</td>
        <td>19999</td>
        <td><a class="btn sm">编辑</a><a class="btn sm red">删除</a></td>
      </tr>
    </table>
    <div class="footer">
      <div class="fl">显示1-20条，共60条</div>
      <div class="fr">
        <div class="page">
          <a class="prev page-item"><span class="arrow"></span></a>
          <a class="prev page-item">1</a>
          <a class="prev page-item cur">2</a>
          <a class="prev page-item">3</a>
          <a class="next page-item"><span class="arrow"></span></a>
        </div>
      </div>
    </div>
  </div>

</div>