<div class="growth-page">

  <div class="topbar-box">
    <div class="fl">
      <span>日期范围：</span>
      <my-date-picker name="mydateStart" [options]="myDatePickerOptions" [(ngModel)]="startDate" required></my-date-picker>
      <span>至</span>
      <my-date-picker name="mydateEnd" [options]="myDatePickerOptions" [(ngModel)]="endDate" required></my-date-picker>
    </div>
    <a class="btn"><i></i><span>下载日志</span></a>
  </div>

  <div class="search-box">
    <label>从当前数据中搜索：</label>
    <input type="text">
    <a class="search-btn">
       <span></span>
    </a>

    <div class="fr">显示
      <select>
        <option>100</option>
        <option>80</option>
        <option>40</option>
      </select> 条
    </div>
  </div>

  <div class="result-box">
    <table>
      <tr>
        <th>编号</th>
        <th>获得人</th>
        <th>赠送人</th>
        <th>成长值</th>
        <th>时间</th>
        <th>说明</th>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
      <tr>
        <td>1</td>
        <td>欧阳</td>
        <td>werwerew</td>
        <td>1234</td>
        <td>2017-04-12 12:22:33</td>
        <td>这是一段说明文案</td>
      </tr>
    </table>
    <div class="footer">
      <div class="fl">显示1-20条，共60条</div>
      <div class="fr">
        <div class="page">
          <a class="prev page-item"><span class="arrow"></span></a>
          <a class="prev page-item">1</a>
          <a class="prev page-item cur">2</a>
          <a class="prev page-item">3</a>
          <a class="next page-item"><span class="arrow"></span></a>
        </div>
      </div>
    </div>
  </div>

</div>