<div class="manage-details-page">

  <!-- <div class="topbar-box">
    员工管理<span class="sub">&gt;{{title}}员工</span>
  </div> -->
  <div class="content-box">
    <form class="form" #myForm="ngForm">
      <div class="row" *ngIf="isEdit">
        <label>{{itemName}}编号</label>
        <input type="text" placeholder="请输入名称" readonly [(ngModel)]="eid" name="eid" class="disabled">
      </div>
      <div class="row">
        <label><span class="require">*</span>{{itemName}}名称：</label>
        <input type="text" placeholder="请输入名称" [(ngModel)]="details.name" name="name" required>
      </div>

      <div class="row">
        <label><span class="require">*</span>{{(item=='class'||item=='department')?'总人数':'成长值'}}：</label>
        <input type="text" placeholder="请输入数值" [(ngModel)]="details.value" name="growth" required>
      </div>

      <div class="row">
        <label></label>
        <a class="btn" (click)="addDetails()" *ngIf="!isEdit" [class.disabled]="!infoReady">提交</a>
        <a class="btn" (click)="editDetails()" *ngIf="isEdit">确认编辑</a>
        <a class="btn" (click)="backClicked()">取消</a>
      </div>
    </form>
  </div>
</div>