<div class="employee-details-page">

  <!-- <div class="topbar-box">
    员工管理<span class="sub">&gt;{{title}}员工</span>
  </div> -->
  <div class="content-box">
    <form class="form" #myForm="ngForm">
      <div class="row" *ngIf="isEdit">
        <label>员工编号</label>
        <input type="text" placeholder="请输入名称" readonly [(ngModel)]="eid" name="eid" class="disabled">
      </div>
      <div class="row">
        <label><span class="require">*</span>员工名称：</label>
        <input type="text" placeholder="请输入名称" [(ngModel)]="epDetails.employee_name" name="name" required>
      </div>
      <div class="row">
        <label>性别：</label>
        <select [(ngModel)]="epDetails.employee_sex" name="sex">
            <option value="1">男</option>
            <option value="0">女</option>
        </select>
      </div>
      <div class="row">
        <label>是否在职：</label>
        <select [(ngModel)]="epDetails.employee_state" name="state">
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
      </div>
      <div class="row">
        <label>联系电话：</label>
        <input type="text" placeholder="请输入电话" [(ngModel)]="epDetails.employee_phone_number" name="phone" required>
      </div>
      <div class="row">
        <label>成长值：</label>
        <input type="text" placeholder="请输入成长值" [(ngModel)]="epDetails.employee_growth_value" name="growth" required>
      </div>
      <div class="row">
        <label>员工等级：</label>
        <input type="text" placeholder="请输入等级" [(ngModel)]="epDetails.employee_level" name="level" required>
      </div>
      <div class="row">
        <label><span class="require">*</span>所属幼儿园：</label>
        <select [(ngModel)]="employeesKg" name="kg">
            <option *ngFor="let item of kgList" [ngValue]="item">{{item.kindergarten_name}}</option>
        </select>
      </div>
      <div class="row">
        <label>班组：</label>
        <select [(ngModel)]="employeesClass" name="class">
            <option *ngFor="let item of classList" [ngValue]="item">{{item.class_name}}</option>
        </select>
      </div>
      <div class="row" *ngIf="departmentList.length>0">
        <label>部门：</label>
        <select [(ngModel)]="employeesDepartment" name="department">
            <option *ngFor="let item of departmentList" [ngValue]="item">{{item.department_name}}</option>
        </select>
      </div>
      <div class="row" *ngIf="positionList.length>0">
        <label>职位：</label>
        <select [(ngModel)]="employeesPosition" name="position">
            <option *ngFor="let item of positionList" [ngValue]="item">{{item.position_name}} ({{item.position_value}}点)</option>
        </select>
      </div>
      <div class="row" *ngIf="bgList.length>0">
        <label>学历：</label>
        <select [(ngModel)]="employeesBg" name="background">
            <option *ngFor="let item of bgList" [ngValue]="item">{{item.educationalbackground_name}} ({{item.educationalbackground_value}}点)</option>
        </select>
      </div>
      <div class="row" *ngIf="certList.length>0">
        <label>证书：</label>
        <!-- <select [(ngModel)]="employeesCert" name="cert">
            <option *ngFor="let item of certList" [ngValue]="item">{{item.certification_name}} ({{item.certification_value}}点)</option>
        </select> -->
        <div class="row-right">
          <div class="float-item" *ngFor="let cert of certList;let i = index;">
            <label><input type="checkbox" name="cert"  value="{{cert.certification_id}}"  (change)="changeCertCheckbox(i)" [checked]="cert.checked">{{cert.certification_name}} ({{cert.certification_value}}点)</label> 
          </div>
        </div>
      </div>
      <div class="row" *ngIf="skillList.length>0">
        <label>技能：</label>
        <div class="row-right">
          <div class="float-item" *ngFor="let skill of skillList;let i = index;">
            <label><input type="checkbox" name="skill"  value="{{skill.skill_id}}"  (change)="changeSkillCheckbox(i)" [checked]="skill.checked">{{skill.skill_name}} ({{skill.skill_value}}点)</label>
          </div>
        </div>
      </div>
      <div class="row">
        <label>是否管理员：</label>
        <select [(ngModel)]="epDetails.employee_is_gm" name="gm">
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
      </div>
      <div class="row">
        <label>是否绑定微信：</label>
        <p>{{epDetails.employee_wx_is_bind==1?'是':'否'}}</p>
        <!-- <select [(ngModel)]="epDetails.employee_wx_is_bind" name="wx">
            <option value="1">是</option>
            <option value="0">否</option>
        </select> -->
      </div>
      <div class="row">
        <label></label>
        <a class="btn" (click)="addEp()" *ngIf="!isEdit" [class.disabled]="!infoReady">提交</a>
        <a class="btn" (click)="editEp()" *ngIf="isEdit">确认编辑</a>
        <a class="btn" (click)="backClicked()">取消</a>
      </div>
    </form>
  </div>
</div>